.Select {
    margin-bottom: 15px;
}

.Select label {
    margin: 0 0 3px;
    padding: 0;
    font-weight: 700;
    display: block;
}

.Select select {
    display: block;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    margin: 0 0 5px;
    width: 100%;
    height: 29px;
    outline: none;
}
