.AnswerItem {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.AnswerItem:hover {
    background-color: rgba(255, 255, 255, .2);
}

.AnswerItem.success {
    background-color: rgba(161, 240, 69, .7);
}

.AnswerItem.error {
    background-color: rgba(240, 87, 108, .7);
}
