.Drawer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: #fff;
    transform: translateX(0);
    z-index: 999;
    transition: transform .3s ease-in-out;
}

.Drawer.close {
    transform: translateX(-300px);
}

.Drawer ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.Drawer ul li {
    margin-bottom: 15px;
}

.Drawer ul li a {
    color: #363d54;
    font-size: 30px;
    text-decoration: none;
    background-color: #fff;
    position: relative;
    padding: 0 20px 10px 20px;
    transition: color .3s ease-in-out;
}

.Drawer ul li a:hover, .active {
    color: red!important;
}