.Quiz {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}

.Quiz h1 {
    color: #fff;
}
