.Button {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #000;
    margin-right: 15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.Button:focus {
    outline: none;
}

.Button:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
}

.Button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.primary {
    background-color: #2884f6;
    color: #fff ;
}

.success {
    background-color: rgb(161, 240, 69);
}

.error {
    background-color: rgb(240, 87, 108);
}