.Input {
    margin-bottom: 20px;
}

.Input label {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.Input label span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.Input label input {
    font-size: 16px;
    border: 1px solid #bebebe;
    box-sizing: border-box;
    padding: 6px;
    width: 100%;
    outline: none;
    transition: all .3s ease-in-out;
}

.Input  > span, .invalid {
    color: #f01f30;
    font-weight: 700;
}