.QuizCreator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    flex-grow: 1;
    background: linear-gradient(270deg, #f0613c 0%, #f0783c 100%);
}

.QuizCreator h1 {
    color: #fff;
}

.QuizCreator form {
    max-width: 600px;
    width: 100%;
    /*background-color: #eeeeee;*/
    border-radius: 5px;
    padding: 15px;
    border: 2px solid #fff;
    /*box-shadow: 2px 2px 2px rgba(0,0,0, 0.5);*/
}