.Auth {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 100px;
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}


.Auth h1 {
    color: #fff;
    text-align: center;
}

.AuthForm {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 25px;
    width: 100%;
    max-width: 600px;
}